<a href="https://colab.research.google.com/github/juansalinasponce/Curso_Introduccion_Apache_Spark/blob/main/01_Introducci%C3%B3n_Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INTRODUCCIÓN APACHE SPARK**

**NOTA:** Solo para instalación en google colab

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
!tar xf spark-3.0.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [33]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop2.7"
import findspark
findspark.init()

**1° PASO:** Importamos módulos de apache spark

In [68]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

**2° PASO:** Creamos las session de apache spark en una variable

In [39]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

**3° PASO:** Verificamos la versión de apache spark

In [40]:
spark

**4° PASO:** Crear un dataframe

1.   Crear la estructura del dataframe
2.   Declarar en una variable la ruta del archivo
3.   Leer el archivo de origen
4.   Mostrar la estructura del dataframe
5.   mostrar los datos del dataframe
6.   Cantidad de registros del dataframe
7.   Mostrar las estadísticas básicas de un campo determinado

In [103]:
# 4.1 Estructura del dataframe.
df_schema = StructType([
StructField("ID", StringType(),True),
StructField("NOMBRE", StringType(),True),
StructField("TELEFONO", StringType(),True),
StructField("CORREO", StringType(),True),
StructField("FECHA_INGRESO", StringType(),True),
StructField("EDAD", IntegerType(),True),
StructField("SALARIO", DoubleType(),True),
StructField("ID_EMPRESA", StringType(),True),
])

# 4.2 Definimos ruta del archivo
ruta = "/content/persona.data"

#4.3 Definimos ruta del archivo
df_with_schema = spark.read.format("CSV").option("header","true").option("delimiter","|").schema(df_schema).load(ruta)

In [104]:
#4.4 Mostramos la estructura del dataframe.
df_with_schema.printSchema()

root
 |-- ID: string (nullable = true)
 |-- NOMBRE: string (nullable = true)
 |-- TELEFONO: string (nullable = true)
 |-- CORREO: string (nullable = true)
 |-- FECHA_INGRESO: string (nullable = true)
 |-- EDAD: integer (nullable = true)
 |-- SALARIO: double (nullable = true)
 |-- ID_EMPRESA: string (nullable = true)

In [51]:
# 4.5 Mostraremos todos los datos del dataframe.
df_with_schema.show(5)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 5 rows

In [53]:
# 4.6 Mostraremos todos los datos del dataframe.
num_rows = df_with_schema.count()

print("La cantidad de registro del dataframe es: ", num_rows)

La cantidad de registro del dataframe es:  100

In [57]:
# 4.7 Estadísticas de un campo determinado.
df_with_schema.describe('salario').show()

+-------+-----------------+
|summary|          salario|
+-------+-----------------+
|  count|              100|
|   mean|         11684.55|
| stddev|6841.493958437246|
|    min|           1256.0|
|    max|          24575.0|
+-------+-----------------+

**5° PASO:** Crear un nuevo dataframe de clientes utlizando como base el dataframe previamente creado.


1.   Crear el dataframe con la información de cliente
2.   Mostrar el esquema del dataframe de clientes
3.   Mostrar los datos del dataframe de clientes

In [59]:
# 5.1 creamos el dataframe de cliente
df_cliente = df_with_schema.select("ID","NOMBRE","TELEFONO","CORREO","EDAD","SALARIO")

In [60]:
# 5.2 Mostraremos el esquema
df_cliente.printSchema()

root
 |-- ID: string (nullable = true)
 |-- NOMBRE: string (nullable = true)
 |-- TELEFONO: string (nullable = true)
 |-- CORREO: string (nullable = true)
 |-- EDAD: integer (nullable = true)
 |-- SALARIO: double (nullable = true)

In [61]:
# 5.3 Mostraremos los datos del dataframe de clientes
df_cliente.show()

+---+---------+--------------+--------------------+----+-------+
| ID|   NOMBRE|      TELEFONO|              CORREO|EDAD|SALARIO|
+---+---------+--------------+--------------------+----+-------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|  32|20095.0|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|  34| 9298.0|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|  27|10853.0|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|  29| 3387.0|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|  41|22102.0|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|  70| 7800.0|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|  52| 8112.0|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|  23|17040.0|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|  69| 6834.0|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|  19| 7996.0|
| 11|  Melyssa|      596-7736|vel@vulputateposu...|  48| 4913.0|
| 12|   Tanner|1-739-776-7897|arcu.Aliquam.ultr...|  24|19943.0|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|  34| 9501.0|
| 14|    Allen|      733-2795|felis.Donec@necle...|  59|16289.0|
| 15|    Wanda|      359-6973|Nam.nulla.magna@I...|  27| 1539.0|
| 16|    Alden|      341-8522|odio@morbitristiq...|  26| 3377.0|
| 17|     Omar|      720-1543|Phasellus.vitae.m...|  60| 6851.0|
| 18|     Owen|1-167-335-7541|     sociis@erat.com|  34| 4759.0|
| 19|    Laura|1-974-623-2057|    mollis@ornare.ca|  70|17403.0|
| 20|    Emery|1-672-840-0264|     at.nisi@vel.org|  24|18752.0|
+---+---------+--------------+--------------------+----+-------+
only showing top 20 rows

**6° PASO:** Operaciones con el dataframe

1.   Creando un nuevo campo 
2.   realizar una operacion en el nuevo campo

In [75]:
#6.1 Sumar : Aumentar un 10% a todas los registros de la columna "SALARIO"
from pyspark.sql.functions import col
df_cliente_nuevos_salarios = df_cliente.withColumn( "NUEVO_SALARIO",col("salario") * 1.10)
df_cliente_nuevos_salarios.show()

+---+---------+--------------+--------------------+----+-------+------------------+
| ID|   NOMBRE|      TELEFONO|              CORREO|EDAD|SALARIO|     NUEVO_SALARIO|
+---+---------+--------------+--------------------+----+-------+------------------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|  32|20095.0|           22104.5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|  34| 9298.0|10227.800000000001|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|  27|10853.0|11938.300000000001|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|  29| 3387.0|3725.7000000000003|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|  41|22102.0|           24312.2|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|  70| 7800.0|            8580.0|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|  52| 8112.0|            8923.2|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|  23|17040.0|           18744.0|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|  69| 6834.0| 7517.400000000001|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|  19| 7996.0|            8795.6|
| 11|  Melyssa|      596-7736|vel@vulputateposu...|  48| 4913.0|            5404.3|
| 12|   Tanner|1-739-776-7897|arcu.Aliquam.ultr...|  24|19943.0|21937.300000000003|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|  34| 9501.0|           10451.1|
| 14|    Allen|      733-2795|felis.Donec@necle...|  59|16289.0|           17917.9|
| 15|    Wanda|      359-6973|Nam.nulla.magna@I...|  27| 1539.0|            1692.9|
| 16|    Alden|      341-8522|odio@morbitristiq...|  26| 3377.0|3714.7000000000003|
| 17|     Omar|      720-1543|Phasellus.vitae.m...|  60| 6851.0|            7536.1|
| 18|     Owen|1-167-335-7541|     sociis@erat.com|  34| 4759.0| 5234.900000000001|
| 19|    Laura|1-974-623-2057|    mollis@ornare.ca|  70|17403.0|19143.300000000003|
| 20|    Emery|1-672-840-0264|     at.nisi@vel.org|  24|18752.0|           20627.2|
+---+---------+--------------+--------------------+----+-------+------------------+
only showing top 20 rows

**7° PASO:** Realizar filtros en el dataframe

In [80]:
df_clientes_filtrados = df_cliente_nuevos_salarios.filter(df_cliente_nuevos_salarios['NUEVO_SALARIO'] > 10000)
df_clientes_filtrados.show(10)

+---+---------+--------------+--------------------+----+-------+------------------+
| ID|   NOMBRE|      TELEFONO|              CORREO|EDAD|SALARIO|     NUEVO_SALARIO|
+---+---------+--------------+--------------------+----+-------+------------------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|  32|20095.0|           22104.5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|  34| 9298.0|10227.800000000001|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|  27|10853.0|11938.300000000001|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|  41|22102.0|           24312.2|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|  23|17040.0|           18744.0|
| 12|   Tanner|1-739-776-7897|arcu.Aliquam.ultr...|  24|19943.0|21937.300000000003|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|  34| 9501.0|           10451.1|
| 14|    Allen|      733-2795|felis.Donec@necle...|  59|16289.0|           17917.9|
| 19|    Laura|1-974-623-2057|    mollis@ornare.ca|  70|17403.0|19143.300000000003|
| 20|    Emery|1-672-840-0264|     at.nisi@vel.org|  24|18752.0|           20627.2|
+---+---------+--------------+--------------------+----+-------+------------------+
only showing top 10 rows

8° PASO: Ordenar el dataframe por una columna determinada

1.   Ordenar por 1 campo
2.   Ordenar por 2 campos

In [81]:
# Ordenados por 1 campo
df_clientes_filtrados.orderBy('SALARIO').show(5)

+---+---------+--------------+--------------------+----+-------+------------------+
| ID|   NOMBRE|      TELEFONO|              CORREO|EDAD|SALARIO|     NUEVO_SALARIO|
+---+---------+--------------+--------------------+----+-------+------------------+
| 90|Sigourney|      598-8806|    sit.amet@sem.net|  42| 9145.0|           10059.5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|  34| 9298.0|10227.800000000001|
| 28|  Stephen|      326-2020|arcu.Aliquam.ultr...|  53| 9469.0|10415.900000000001|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|  34| 9501.0|           10451.1|
| 30|  Clayton|1-599-614-5185|est.Nunc@dictumeu...|  52| 9505.0|           10455.5|
+---+---------+--------------+--------------------+----+-------+------------------+
only showing top 5 rows

In [91]:
# Ordenados por 2 campo
df_clientes_filtrados.orderBy('EDAD', 'SALARIO').show(10)

+---+-------+--------------+--------------------+----+-------+------------------+
| ID| NOMBRE|      TELEFONO|              CORREO|EDAD|SALARIO|     NUEVO_SALARIO|
+---+-------+--------------+--------------------+----+-------+------------------+
| 94|   Amir|1-221-717-0093|dapibus.ligula@fa...|  18|20980.0|23078.000000000004|
| 56|  Colby|1-517-827-8614|nec.ligula@eunequ...|  19|15496.0|17045.600000000002|
| 92| Lesley|      973-4902|felis.adipiscing....|  19|23547.0|           25901.7|
| 77| Brynne|1-357-977-8936|aliquet.nec.imper...|  22|16551.0|18206.100000000002|
| 52| Whoopi|1-671-552-5009|      semper@Cras.ca|  22|23051.0|25356.100000000002|
| 53|Zachery|      314-8083|hymenaeos.Mauris@...|  22|23820.0|26202.000000000004|
| 71|  Doris|      508-8624|Curabitur.vel.lec...|  23|11538.0|12691.800000000001|
|  8|  Jonah|      214-2975|eu.ultrices.sit@v...|  23|17040.0|           18744.0|
| 20|  Emery|1-672-840-0264|     at.nisi@vel.org|  24|18752.0|           20627.2|
| 12| Tanner|1-739-776-7897|arcu.Aliquam.ultr...|  24|19943.0|21937.300000000003|
+---+-------+--------------+--------------------+----+-------+------------------+
only showing top 10 rows

In [89]:
df_clientes_filtrados.sort(df_clientes_filtrados['EDAD'].desc()).show(10)

+---+--------+--------------+--------------------+----+-------+------------------+
| ID|  NOMBRE|      TELEFONO|              CORREO|EDAD|SALARIO|     NUEVO_SALARIO|
+---+--------+--------------+--------------------+----+-------+------------------+
| 19|   Laura|1-974-623-2057|    mollis@ornare.ca|  70|17403.0|19143.300000000003|
| 63|    Sade|      112-5494|       In@utquam.com|  70|11112.0|           12223.2|
| 40|    Ross|      387-0945|amet.faucibus@ips...|  67|14285.0|15713.500000000002|
| 82|   Cally|1-658-890-5167|        id@dolor.edu|  67|24575.0|27032.500000000004|
| 39| Carolyn|      846-7060|metus.Aenean.sed@...|  64|22838.0|25121.800000000003|
| 55|Jennifer|      755-6162|     id@ultrices.com|  64|19013.0|20914.300000000003|
| 43|   Yetta|      986-0220|vitae@dapibusrutr...|  61|21452.0|           23597.2|
| 14|   Allen|      733-2795|felis.Donec@necle...|  59|16289.0|           17917.9|
| 95|   Jayme|1-641-113-8418|ornare.Fusce@tinc...|  58|23975.0|26372.500000000004|
| 86|    Jack|      860-9554|parturient.montes...|  58|14473.0|15920.300000000001|
+---+--------+--------------+--------------------+----+-------+------------------+
only showing top 10 rows

9. Agrupando en el dataframe

In [90]:
Agrupacion_por_edad = df_cliente_nuevos_salarios.groupBy("EDAD").count()
Agrupacion_por_edad.orderBy('EDAD').show(10)

+----+-----+
|EDAD|count|
+----+-----+
|  18|    2|
|  19|    4|
|  22|    5|
|  23|    2|
|  24|    4|
|  25|    2|
|  26|    3|
|  27|    5|
|  28|    1|
|  29|    2|
+----+-----+
only showing top 10 rows

9° PASO: Guardar el dataframe en un ruta

In [112]:
ruta_destino = "/content/datalake/landing/personas.parquet"
df_cliente_nuevos_salarios.write.mode("overwrite").format("parquet").save(ruta_destino)

10° PASO: Leer el archivo parquet

In [114]:
#4.3 Definimos ruta del archivo

df_with_schema_parquet = spark.read.format("parquet").option("header","true").load(ruta_destino)
df_with_schema_parquet.show(10)

+---+---------+--------------+--------------------+----+-------+------------------+
| ID|   NOMBRE|      TELEFONO|              CORREO|EDAD|SALARIO|     NUEVO_SALARIO|
+---+---------+--------------+--------------------+----+-------+------------------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|  32|20095.0|           22104.5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|  34| 9298.0|10227.800000000001|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|  27|10853.0|11938.300000000001|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|  29| 3387.0|3725.7000000000003|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|  41|22102.0|           24312.2|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|  70| 7800.0|            8580.0|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|  52| 8112.0|            8923.2|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|  23|17040.0|           18744.0|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|  69| 6834.0| 7517.400000000001|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|  19| 7996.0|            8795.6|
+---+---------+--------------+--------------------+----+-------+------------------+
only showing top 10 rows